.card {
    width: 250px;
}

.calc_card {
    width: calc((100% / 6) - 10px);
}






.heading_one {
    color: red;
    font-size: 20px;
}

.heading_two {
    color: blue;
    font-size: 14px;
}

.button {
    width: 300px;
    color: blue;
}

@media (max-width: 767px) {
    .button {
        width: 100%;
    }

    .button:hover,
    .button:active,
    .button:focus {
        color: red;
    }
}









.box,
.error_box,
.success_box,
.alert_box {
    border: 1px solid #eee;
    padding: 10px;
    display: block;
}

.alert_box {
    background-color: #666;
    color: #fff;
}

.error_box,
.success_box {
    color: #999;
    font-weight: bold;
}

.success_box {
    background-color: green;
}

.error_box {
    background-color: red;
}







.container a {
    color: #666;
}

.container a:hover {
    text-decoration: underline;
    color: #000;
}

.container a:visited {
    color: #eee;
}

div {
    background-color: #eee;
}







.box {
    width: 33.3333333333%;
}









body {
    color: #000;
}

.local_var {
    color: #333;
}

.global_var {
    color: #666;
}

.global_flag {
    color: #666;
}